@{
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    Model.Services.EstudianteService estuService = new Model.Services.EstudianteService();        
    string nombre = "";
    if (!controlador.Equals("login")) {
        nombre = estuService.GetNombreEstudiante(MiPrimerProyectoMVC.Utils.SessionUtils.GetUser());
    }

}
<!DOCTYPE html>
<!--Layout predefinido para no repetir todo el codigo-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudiante - @ViewBag.TitlePage - @controlador</title>
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery_3_1_1-min.js"></script>
    <style>
        .form-group label {
            display: block;
        }

        .form-group {
            display: block;
        }

        .form-group .form-control {
            padding: 4px;
            /*width: 300px;*/
        }

        /*
        button {
            margin-top: 15px;
        }*/

        .alert {
            text-align: center;
            background: green;
            color: #eee;
            padding: 4px;
        }

        .alert button {
            display: none;
        }

        .failed {
            border: 1px solid red;
        }

        /*
        form {
            position: relative;
            padding: 10px;
            width: 300px;
        }*/

        .block-loading {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff url('../../assets/fonts/loader.gif') no-repeat center center;
            opacity: 0.7;
        }
    </style>

</head>
<body>
    @if (!controlador.Equals("login"))
    {
        <header class="bs-docs-nav navbar navbar-static-top navbar-inverse" id="top">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="bs-navbar"
                            aria-expanded="false" class="collapsed navbar-toggle"
                            data-target="#bs-navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <a href="" class="navbar-brand">Home</a>
                </div>
                <nav class="collapse navbar-collapse" id="bs-navbar">
                    <ul class="nav navbar-nav">
                        <li> <a href="">Materias</a> </li>
                        <li> <a href="">Tareas</a> </li>
                        <li> <a href="">Deportes</a> </li>
                        <li> <a href="" data-toggle="modal" data-target=".mi-modal-contacto">Contactanos</a> </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-inverse">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Estudiante: @nombre
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="~/Estudiante/Login/GoLogout">Logout</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Version 1.0.0</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    }
   

    <div class="container">       
        @RenderBody()
    </div>
     
    <script src="~/assets/js/bootstrap.min.js"></script>            
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/init.forms.js"></script>
    <script src="~/assets/js/jquery.form.min.js"></script>

    @Html.Partial("~//_MoidalContacto.cshtml", new MiPrimerProyectoMVC.ViewModel.ContactoVM())

</body>
</html>
