
@{
    ViewBag.TitlePage = "Login";
}

<br/>
<br/>
<div class="panel panel-default center">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        @using (Html.BeginForm("GoLogin", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="pwd" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button data-ajax="true" type="submit" class="btn btn-default">Login</button>
                </div>
            </div>

        }
    </div>
</div>

        

